.columns > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.columns .columns-col {
  order: 1;
}

.columns .columns-img-col {
  order: 0;
}

.columns img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.columns .columns-col p {
  margin-bottom: var(--spacing-s);
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .columns .columns-col {
    flex: 1;
    order: unset;
  }

  .columns .columns-img-col {
    order: unset;
  }
}
